In [204]:
import pandas as pd
import numpy as np
df = pd.read_csv('all_data.csv', delimiter=';')
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

# drop Name and SSN columns
df = df.drop(['Name', 'SSN'], axis=1)

C:\Users\timow\AppData\Local\Temp\ipykernel_12444\3027398730.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('all_data.csv', delimiter=';')

In [205]:
# Replace all empty cells with NaN in the entire dataframe
df.replace([None], np.nan, inplace=True)

In [206]:
# Order entries by cutomer and month, and then reset index
month_to_num = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 
                'June': 6, 'July': 7, 'August': 8, 'September': 9, 
                'October': 10, 'November': 11, 'December': 12}

df["temp_Month"] = df["Month"].map(month_to_num)
df.sort_values(["Customer_ID", "temp_Month"], inplace=True)
df.drop("temp_Month", axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)

In [207]:
# In every iteration, the loop will replace all _______ with a value of either the previous or next month. 
# It seems that there are at most 3 consecutive months with _______ in Occupation, so 3 loops is enough. 
# If we want to make the code work for more than 3 consecutive months, we can add more loops.
for _ in range(3):
    for i in df.index:
        if df.loc[i, 'Occupation'] == '_______':
            if df.loc[i+1, "Customer_ID"] == df.loc[i, "Customer_ID"] and df.loc[i+1, 'Occupation'] != '_______':
                df.loc[i, 'Occupation'] = df.loc[i+1, 'Occupation']
            elif df.loc[i-1, "Customer_ID"] == df.loc[i, "Customer_ID"] and df.loc[i-1, 'Occupation'] != '_______':
                df.loc[i, 'Occupation'] = df.loc[i-1, 'Occupation']

# print entries with ______ in Occupation
df[df['Occupation'] == '_______']

Empty DataFrame
Columns: [ID, Customer_ID, Month, Age, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score]
Index: []

In [208]:
# Find out which special characters are cluttering the annual income data
df['test_Annual_Income'] = df['Annual_Income'].str.replace('\d+', '', regex=True)
print(df["test_Annual_Income"].value_counts())
df.drop("test_Annual_Income", axis=1, inplace=True)

# Replace all special characters with the correct ones
df['Annual_Income'] = df['Annual_Income'].str.replace('.', ',')
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')

# Check if you got all of them
df['test_Annual_Income'] = df['Annual_Income'].str.replace('\d+', '', regex=True)
print(df["test_Annual_Income"].value_counts())
df.drop("test_Annual_Income", axis=1, inplace=True)

test_Annual_Income
,     135873
._     10500
        3627
Name: count, dtype: int64
test_Annual_Income
,    146373
       3627
Name: count, dtype: int64

In [209]:
# Clean Age column
df['test_Age'] = df['Age'].astype(str)
df['test_Age'] = df['test_Age'].str.replace('\d+', '', regex=True)
print(df["test_Age"].value_counts())
df.drop("test_Age", axis=1, inplace=True)

df['Age'] = df['Age'].str.replace('\D+', '', regex=True)

df['test_Age'] = df['Age'].astype(str)
df['test_Age'] = df['test_Age'].str.replace('\d+', '', regex=True)
print(df["test_Age"].value_counts())
df.drop("test_Age", axis=1, inplace=True)

test_Age
     141234
_      7416
-      1350
Name: count, dtype: int64
test_Age
    150000
Name: count, dtype: int64

In [210]:
# Check Monthly_Inhand_Salary column
df['test_Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].astype(str)
df['test_Monthly_Inhand_Salary'] = df['test_Monthly_Inhand_Salary'].str.replace('\d+', '', regex=True)
print(df["test_Monthly_Inhand_Salary"].value_counts())
df.drop("test_Monthly_Inhand_Salary", axis=1, inplace=True)

# This column seems clean, just some missing values that we might be able to fill in later

test_Monthly_Inhand_Salary
,      127241
nan     22500
          259
Name: count, dtype: int64

In [211]:
# Check num_bank_accounts column
df['test_Num_Bank_Accounts'] = df['Num_Bank_Accounts'].astype(str)
df['test_Num_Bank_Accounts'] = df['test_Num_Bank_Accounts'].str.replace('\d+', '', regex=True)
print(df["test_Num_Bank_Accounts"].value_counts())
df.drop("test_Num_Bank_Accounts", axis=1, inplace=True)

# Replace negative values with NaN
df.loc[df['Num_Bank_Accounts'] < 0, 'Num_Bank_Accounts'] = np.nan

df['test_Num_Bank_Accounts'] = df['Num_Bank_Accounts'].astype(str)
df['test_Num_Bank_Accounts'] = df['test_Num_Bank_Accounts'].str.replace('\d+', '', regex=True)
print(df["test_Num_Bank_Accounts"].value_counts())
df.drop("test_Num_Bank_Accounts", axis=1, inplace=True)

test_Num_Bank_Accounts
     149963
-        37
Name: count, dtype: int64
test_Num_Bank_Accounts
.      149963
nan        37
Name: count, dtype: int64

In [212]:
# Check Num_Credit_Card column
df['test_Num_Credit_Card'] = df['Num_Credit_Card'].astype(str)
df['test_Num_Credit_Card'] = df['test_Num_Credit_Card'].str.replace('\d+', '', regex=True)
print(df["test_Num_Credit_Card"].value_counts())
df.drop("test_Num_Credit_Card", axis=1, inplace=True)

# No negative values

test_Num_Credit_Card
    150000
Name: count, dtype: int64

In [213]:
# Check Num_of_Loan column
df['test_Num_of_Loan'] = df['Num_of_Loan'].astype(str)
df['test_Num_of_Loan'] = df['test_Num_of_Loan'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Loan"].value_counts())
df.drop("test_Num_of_Loan", axis=1, inplace=True)

df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Num_of_Loan'] = df['Num_of_Loan'].astype(float)
df.loc[df['Num_of_Loan'] < 0, 'Num_of_Loan'] = np.nan

df['test_Num_of_Loan'] = df['Num_of_Loan'].astype(str)
df['test_Num_of_Loan'] = df['test_Num_of_Loan'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Loan"].value_counts())
df.drop("test_Num_of_Loan", axis=1, inplace=True)

test_Num_of_Loan
     136929
_      7221
-      5850
Name: count, dtype: int64
test_Num_of_Loan
.      144150
nan      5850
Name: count, dtype: int64

In [214]:
# Check Delay_from_due_date column
df['test_Delay_from_due_date'] = df['Delay_from_due_date'].astype(str)
df['test_Delay_from_due_date'] = df['test_Delay_from_due_date'].str.replace('\d+', '', regex=True)
print(df["test_Delay_from_due_date"].value_counts())
df.drop("test_Delay_from_due_date", axis=1, inplace=True)

#df['Delay_from_due_date'] = df['Delay_from_due_date'].astype(float)
#df.loc[df['Delay_from_due_date'] < 0, 'Delay_from_due_date'] = np.nan
# In this column, negative values might have a meaning

df['test_Delay_from_due_date'] = df['Delay_from_due_date'].astype(str)
df['test_Delay_from_due_date'] = df['test_Delay_from_due_date'].str.replace('\d+', '', regex=True)
print(df["test_Delay_from_due_date"].value_counts())
df.drop("test_Delay_from_due_date", axis=1, inplace=True)

test_Delay_from_due_date
     149111
-       889
Name: count, dtype: int64
test_Delay_from_due_date
     149111
-       889
Name: count, dtype: int64

In [215]:
# Check Num_of_Delayed_Payment column
df['test_Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
df['test_Num_of_Delayed_Payment'] = df['test_Num_of_Delayed_Payment'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Delayed_Payment"].value_counts())
df.drop("test_Num_of_Delayed_Payment", axis=1, inplace=True)

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].str.replace('_', '')
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(float)
df.loc[df['Num_of_Delayed_Payment'] < 0, 'Num_of_Delayed_Payment'] = np.nan


df['test_Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
df['test_Num_of_Delayed_Payment'] = df['test_Num_of_Delayed_Payment'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Delayed_Payment"].value_counts())
df.drop("test_Num_of_Delayed_Payment", axis=1, inplace=True)

test_Num_of_Delayed_Payment
       134432
nan     10500
_        4137
-         897
-_         34
Name: count, dtype: int64
test_Num_of_Delayed_Payment
.      138569
nan     11431
Name: count, dtype: int64

In [216]:
df['test_Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
df['test_Changed_Credit_Limit'] = df['test_Changed_Credit_Limit'].str.replace('\d+', '', regex=True)
print(df["test_Changed_Credit_Limit"].value_counts())
df.drop("test_Changed_Credit_Limit", axis=1, inplace=True)

df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].str.replace('_', '')
df["Changed_Credit_Limit"].replace([None, '', np.nan], np.nan, inplace=True)

df['test_Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
df['test_Changed_Credit_Limit'] = df['test_Changed_Credit_Limit'].str.replace('\d+', '', regex=True)
print(df["test_Changed_Credit_Limit"].value_counts())
df.drop("test_Changed_Credit_Limit", axis=1, inplace=True)

test_Changed_Credit_Limit
,     143130
_       3150
-,      2403
        1299
-         18
Name: count, dtype: int64
test_Changed_Credit_Limit
,      143130
nan      3150
-,       2403
         1299
-          18
Name: count, dtype: int64

In [217]:
df['test_Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
df['test_Outstanding_Debt'] = df['test_Outstanding_Debt'].str.replace('\d+', '', regex=True)
print(df["test_Outstanding_Debt"].value_counts())
df.drop("test_Outstanding_Debt", axis=1, inplace=True)

df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('.', ',')
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')

df['test_Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
df['test_Outstanding_Debt'] = df['test_Outstanding_Debt'].str.replace('\d+', '', regex=True)
print(df["test_Outstanding_Debt"].value_counts())
df.drop("test_Outstanding_Debt", axis=1, inplace=True)

test_Outstanding_Debt
,     147016
._      1500
        1484
Name: count, dtype: int64
test_Outstanding_Debt
,    148516
       1484
Name: count, dtype: int64

In [218]:
df['test_Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].astype(str)
df['test_Credit_Utilization_Ratio'] = df['test_Credit_Utilization_Ratio'].str.replace('\d+', '', regex=True)
print(df["test_Credit_Utilization_Ratio"].value_counts())
df.drop("test_Credit_Utilization_Ratio", axis=1, inplace=True)

# Find out what the empty cells are

test_Credit_Utilization_Ratio
,    149998
          2
Name: count, dtype: int64

In [219]:
df['test_Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].astype(str)
df['test_Payment_of_Min_Amount'] = df['test_Payment_of_Min_Amount'].str.replace('\d+', '', regex=True)
print(df["test_Payment_of_Min_Amount"].value_counts())
df.drop("test_Payment_of_Min_Amount", axis=1, inplace=True)

df.loc[df['Payment_of_Min_Amount'] == "NM", 'Payment_of_Min_Amount'] = np.nan

df['test_Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].astype(str)
df['test_Payment_of_Min_Amount'] = df['test_Payment_of_Min_Amount'].str.replace('\d+', '', regex=True)
print(df["test_Payment_of_Min_Amount"].value_counts())
df.drop("test_Payment_of_Min_Amount", axis=1, inplace=True)

test_Payment_of_Min_Amount
Yes    78484
No     53516
NM     18000
Name: count, dtype: int64
test_Payment_of_Min_Amount
Yes    78484
No     53516
nan    18000
Name: count, dtype: int64

In [220]:
df['test_Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(str)
df['test_Amount_invested_monthly'] = df['test_Amount_invested_monthly'].str.replace('\d+', '', regex=True)
print(df["test_Amount_invested_monthly"].value_counts())
df.drop("test_Amount_invested_monthly", axis=1, inplace=True)

# What do the __10000__ mean?

test_Amount_invested_monthly
,       136495
nan       6750
____      6480
           275
Name: count, dtype: int64

In [221]:
df['test_Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)
df['test_Payment_Behaviour'] = df['test_Payment_Behaviour'].str.replace('\d+', '', regex=True)
print(df["test_Payment_Behaviour"].value_counts())
df.drop("test_Payment_Behaviour", axis=1, inplace=True)

df.loc[df['Payment_Behaviour'] == "!@9#%8", 'Payment_Behaviour'] = np.nan

df['test_Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)
df['test_Payment_Behaviour'] = df['test_Payment_Behaviour'].str.replace('\d+', '', regex=True)
print(df["test_Payment_Behaviour"].value_counts())
df.drop("test_Payment_Behaviour", axis=1, inplace=True)

test_Payment_Behaviour
Low_spent_Small_value_payments      38207
High_spent_Medium_value_payments    26462
Low_spent_Medium_value_payments     20698
High_spent_Large_value_payments     20565
High_spent_Small_value_payments     16991
Low_spent_Large_value_payments      15677
!@#%                                11400
Name: count, dtype: int64
test_Payment_Behaviour
Low_spent_Small_value_payments      38207
High_spent_Medium_value_payments    26462
Low_spent_Medium_value_payments     20698
High_spent_Large_value_payments     20565
High_spent_Small_value_payments     16991
Low_spent_Large_value_payments      15677
nan                                 11400
Name: count, dtype: int64

In [222]:
df['test_Monthly_Balance'] = df['Monthly_Balance'].astype(str)
df['test_Monthly_Balance'] = df['test_Monthly_Balance'].str.replace('\d+', '', regex=True)
print(df["test_Monthly_Balance"].value_counts())
df.drop("test_Monthly_Balance", axis=1, inplace=True)

df.loc[df['Monthly_Balance'] == "__-333333333333333333333333333__", 'Monthly_Balance'] = np.nan

df['test_Monthly_Balance'] = df['Monthly_Balance'].astype(str)
df['test_Monthly_Balance'] = df['test_Monthly_Balance'].str.replace('\d+', '', regex=True)
print(df["test_Monthly_Balance"].value_counts())
df.drop("test_Monthly_Balance", axis=1, inplace=True)

test_Monthly_Balance
,        148223
nan        1762
__-__        15
Name: count, dtype: int64
test_Monthly_Balance
,      148223
nan      1777
Name: count, dtype: int64