In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('all_data.csv', delimiter=';')
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

# drop Name and SSN columns
df = df.drop(['Name', 'SSN'], axis=1)

# Replace all empty cells with NaN in the entire dataframe
df.replace([None], np.nan, inplace=True)

C:\Users\20203672\AppData\Local\Temp\ipykernel_11220\3027398730.py:3: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('all_data.csv', delimiter=';')

In [3]:
# Order entries by cutomer and month, and then reset index
month_to_num = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 
                'June': 6, 'July': 7, 'August': 8, 'September': 9, 
                'October': 10, 'November': 11, 'December': 12}

df["temp_Month"] = df["Month"].map(month_to_num)
df.sort_values(["Customer_ID", "temp_Month"], inplace=True)
df.drop("temp_Month", axis=1, inplace=True)
df.reset_index(drop=True, inplace=True)

In [4]:
# In every iteration, the loop will replace all _______ with a value of either the previous or next month. 
# It seems that there are at most 3 consecutive months with _______ in Occupation, so 3 loops is enough. 
# If we want to make the code work for more than 3 consecutive months, we can add more loops.
for _ in range(3):
    for i in df.index:
        if df.loc[i, 'Occupation'] == '_______':
            if df.loc[i+1, "Customer_ID"] == df.loc[i, "Customer_ID"] and df.loc[i+1, 'Occupation'] != '_______':
                df.loc[i, 'Occupation'] = df.loc[i+1, 'Occupation']
            elif df.loc[i-1, "Customer_ID"] == df.loc[i, "Customer_ID"] and df.loc[i-1, 'Occupation'] != '_______':
                df.loc[i, 'Occupation'] = df.loc[i-1, 'Occupation']

# print entries with ______ in Occupation
df[df['Occupation'] == '_______']

Empty DataFrame
Columns: [ID, Customer_ID, Month, Age, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score]
Index: []

[0 rows x 26 columns]

In [5]:
# Find out which special characters are cluttering the annual income data
df['test_Annual_Income'] = df['Annual_Income'].str.replace('\d+', '', regex=True)
print(df["test_Annual_Income"].value_counts())
df.drop("test_Annual_Income", axis=1, inplace=True)

# Replace all special characters with the correct ones
df['Annual_Income'] = df['Annual_Income'].str.replace('.', ',')
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')

# Check if you got all of them
df['test_Annual_Income'] = df['Annual_Income'].str.replace('\d+', '', regex=True)
print(df["test_Annual_Income"].value_counts())
df.drop("test_Annual_Income", axis=1, inplace=True)

test_Annual_Income
,     135873
._     10500
        3627
Name: count, dtype: int64
test_Annual_Income
,    146373
       3627
Name: count, dtype: int64

In [6]:
# Clean Age column
df['test_Age'] = df['Age'].astype(str)
df['test_Age'] = df['test_Age'].str.replace('\d+', '', regex=True)
print(df["test_Age"].value_counts())
df.drop("test_Age", axis=1, inplace=True)

df['Age'] = df['Age'].str.replace('\D+', '', regex=True)

df['test_Age'] = df['Age'].astype(str)
df['test_Age'] = df['test_Age'].str.replace('\d+', '', regex=True)
print(df["test_Age"].value_counts())
df.drop("test_Age", axis=1, inplace=True)

test_Age
     141234
_      7416
-      1350
Name: count, dtype: int64
test_Age
    150000
Name: count, dtype: int64

In [ ]:
# Maybe use the mean of the other 11 values of a person to create an if else statement for filling in the missing values.

In [7]:
# Check Monthly_Inhand_Salary column
df['test_Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].astype(str)
df['test_Monthly_Inhand_Salary'] = df['test_Monthly_Inhand_Salary'].str.replace('\d+', '', regex=True)
print(df["test_Monthly_Inhand_Salary"].value_counts())
df.drop("test_Monthly_Inhand_Salary", axis=1, inplace=True)

# This column seems clean, just some missing values that we might be able to fill in later

test_Monthly_Inhand_Salary
,      127241
nan     22500
          259
Name: count, dtype: int64

In [8]:
# Check num_bank_accounts column
df['test_Num_Bank_Accounts'] = df['Num_Bank_Accounts'].astype(str)
df['test_Num_Bank_Accounts'] = df['test_Num_Bank_Accounts'].str.replace('\d+', '', regex=True)
print(df["test_Num_Bank_Accounts"].value_counts())
df.drop("test_Num_Bank_Accounts", axis=1, inplace=True)

# Replace negative values with NaN
df.loc[df['Num_Bank_Accounts'] < 0, 'Num_Bank_Accounts'] = np.nan

df['test_Num_Bank_Accounts'] = df['Num_Bank_Accounts'].astype(str)
df['test_Num_Bank_Accounts'] = df['test_Num_Bank_Accounts'].str.replace('\d+', '', regex=True)
print(df["test_Num_Bank_Accounts"].value_counts())
df.drop("test_Num_Bank_Accounts", axis=1, inplace=True)

test_Num_Bank_Accounts
     149963
-        37
Name: count, dtype: int64
test_Num_Bank_Accounts
.      149963
nan        37
Name: count, dtype: int64

In [9]:
# Check Num_Credit_Card column
df['test_Num_Credit_Card'] = df['Num_Credit_Card'].astype(str)
df['test_Num_Credit_Card'] = df['test_Num_Credit_Card'].str.replace('\d+', '', regex=True)
print(df["test_Num_Credit_Card"].value_counts())
df.drop("test_Num_Credit_Card", axis=1, inplace=True)

# No negative values

test_Num_Credit_Card
    150000
Name: count, dtype: int64

In [10]:
# Check Num_of_Loan column
df['test_Num_of_Loan'] = df['Num_of_Loan'].astype(str)
df['test_Num_of_Loan'] = df['test_Num_of_Loan'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Loan"].value_counts())
df.drop("test_Num_of_Loan", axis=1, inplace=True)

df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Num_of_Loan'] = df['Num_of_Loan'].astype(float)
df.loc[df['Num_of_Loan'] < 0, 'Num_of_Loan'] = np.nan

df['test_Num_of_Loan'] = df['Num_of_Loan'].astype(str)
df['test_Num_of_Loan'] = df['test_Num_of_Loan'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Loan"].value_counts())
df.drop("test_Num_of_Loan", axis=1, inplace=True)

test_Num_of_Loan
     136929
_      7221
-      5850
Name: count, dtype: int64
test_Num_of_Loan
.      144150
nan      5850
Name: count, dtype: int64

In [15]:
# Check Delay_from_due_date column
df['test_Delay_from_due_date'] = df['Delay_from_due_date'].astype(str)
df['test_Delay_from_due_date'] = df['test_Delay_from_due_date'].str.replace('\d+', '', regex=True)
print(df["test_Delay_from_due_date"].value_counts())
df.drop("test_Delay_from_due_date", axis=1, inplace=True)

#df['Delay_from_due_date'] = df['Delay_from_due_date'].astype(float)
#df.loc[df['Delay_from_due_date'] < 0, 'Delay_from_due_date'] = np.nan
# In this column, negative values might have a meaning

df['test_Delay_from_due_date'] = df['Delay_from_due_date'].astype(str)
df['test_Delay_from_due_date'] = df['test_Delay_from_due_date'].str.replace('\d+', '', regex=True)
print(df["test_Delay_from_due_date"].value_counts())
df.drop("test_Delay_from_due_date", axis=1, inplace=True)

test_Delay_from_due_date
     149111
-       889
Name: count, dtype: int64
test_Delay_from_due_date
     149111
-       889
Name: count, dtype: int64

In [16]:
# Check Num_of_Delayed_Payment column
df['test_Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
df['test_Num_of_Delayed_Payment'] = df['test_Num_of_Delayed_Payment'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Delayed_Payment"].value_counts())
df.drop("test_Num_of_Delayed_Payment", axis=1, inplace=True)

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].str.replace('_', '')
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(float)
df.loc[df['Num_of_Delayed_Payment'] < 0, 'Num_of_Delayed_Payment'] = np.nan


df['test_Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(str)
df['test_Num_of_Delayed_Payment'] = df['test_Num_of_Delayed_Payment'].str.replace('\d+', '', regex=True)
print(df["test_Num_of_Delayed_Payment"].value_counts())
df.drop("test_Num_of_Delayed_Payment", axis=1, inplace=True)

test_Num_of_Delayed_Payment
       134432
nan     10500
_        4137
-         897
-_         34
Name: count, dtype: int64
test_Num_of_Delayed_Payment
.      138569
nan     11431
Name: count, dtype: int64

In [17]:
df['test_Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
df['test_Changed_Credit_Limit'] = df['test_Changed_Credit_Limit'].str.replace('\d+', '', regex=True)
print(df["test_Changed_Credit_Limit"].value_counts())
df.drop("test_Changed_Credit_Limit", axis=1, inplace=True)

df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].str.replace('_', '')
df["Changed_Credit_Limit"].replace([None, '', np.nan], np.nan, inplace=True)

df['test_Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(str)
df['test_Changed_Credit_Limit'] = df['test_Changed_Credit_Limit'].str.replace('\d+', '', regex=True)
print(df["test_Changed_Credit_Limit"].value_counts())
df.drop("test_Changed_Credit_Limit", axis=1, inplace=True)

test_Changed_Credit_Limit
,     143130
_       3150
-,      2403
        1299
-         18
Name: count, dtype: int64
test_Changed_Credit_Limit
,      143130
nan      3150
-,       2403
         1299
-          18
Name: count, dtype: int64

In [18]:
df['test_Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
df['test_Outstanding_Debt'] = df['test_Outstanding_Debt'].str.replace('\d+', '', regex=True)
print(df["test_Outstanding_Debt"].value_counts())
df.drop("test_Outstanding_Debt", axis=1, inplace=True)

df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('.', ',')
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')

df['test_Outstanding_Debt'] = df['Outstanding_Debt'].astype(str)
df['test_Outstanding_Debt'] = df['test_Outstanding_Debt'].str.replace('\d+', '', regex=True)
print(df["test_Outstanding_Debt"].value_counts())
df.drop("test_Outstanding_Debt", axis=1, inplace=True)

test_Outstanding_Debt
,     147016
._      1500
        1484
Name: count, dtype: int64
test_Outstanding_Debt
,    148516
       1484
Name: count, dtype: int64

In [24]:
df['test_Credit_Utilization_Ratio'] = df['Credit_Utilization_Ratio'].astype(str)
df['test_Credit_Utilization_Ratio'] = df['test_Credit_Utilization_Ratio'].str.replace('\d+', '', regex=True)
print(df["test_Credit_Utilization_Ratio"].value_counts())
df.drop("test_Credit_Utilization_Ratio", axis=1, inplace=True)

# "Empty" values are whole numbers, so that's fine

test_Credit_Utilization_Ratio
,    149998
          2
Name: count, dtype: int64

In [20]:
df['test_Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].astype(str)
df['test_Payment_of_Min_Amount'] = df['test_Payment_of_Min_Amount'].str.replace('\d+', '', regex=True)
print(df["test_Payment_of_Min_Amount"].value_counts())
df.drop("test_Payment_of_Min_Amount", axis=1, inplace=True)

df.loc[df['Payment_of_Min_Amount'] == "NM", 'Payment_of_Min_Amount'] = np.nan

df['test_Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].astype(str)
df['test_Payment_of_Min_Amount'] = df['test_Payment_of_Min_Amount'].str.replace('\d+', '', regex=True)
print(df["test_Payment_of_Min_Amount"].value_counts())
df.drop("test_Payment_of_Min_Amount", axis=1, inplace=True)

test_Payment_of_Min_Amount
Yes    78484
No     53516
NM     18000
Name: count, dtype: int64
test_Payment_of_Min_Amount
Yes    78484
No     53516
nan    18000
Name: count, dtype: int64

In [29]:
# See what is in row 27
print(df.iloc[59])

ID                                                                    0x243f5
Customer_ID                                                        CUS_0x1013
Month                                                                December
Age                                                                        44
Occupation                                                           Mechanic
Annual_Income                                                        98620,98
Monthly_Inhand_Salary                                                7962,415
Num_Bank_Accounts                                                         3.0
Num_Credit_Card                                                             3
Interest_Rate                                                               6
Num_of_Loan                                                               3.0
Type_of_Loan                Student Loan, Debt Consolidation Loan, and Per...
Delay_from_due_date                                                        12
Num_of_Delayed_Payment                                                    8.0
Changed_Credit_Limit                                                     1,33
Num_Credit_Inquiries                                                      6.0
Credit_Mix                                                                  _
Outstanding_Debt                                                      1233,51
Credit_Utilization_Ratio                                           39,7465725
Credit_History_Age                                      18 Years and 2 Months
Payment_of_Min_Amount                                                      No
Total_EMI_per_month                                               228,0180837
Amount_invested_monthly                                             __10000__
Payment_Behaviour                                                      !@9#%8
Monthly_Balance                                                    731,392472
Credit_Score                                                              NaN
Name: 59, dtype: object

In [26]:
df['test_Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(str)
df['test_Amount_invested_monthly'] = df['test_Amount_invested_monthly'].str.replace('\d+', '', regex=True)
print(df["test_Amount_invested_monthly"].value_counts())
print(df[df["test_Amount_invested_monthly"] =="____"])
df.drop("test_Amount_invested_monthly", axis=1, inplace=True)

# What do the __10000__ mean?

test_Amount_invested_monthly
,       136495
nan       6750
____      6480
           275
Name: count, dtype: int64
             ID Customer_ID     Month Age     Occupation Annual_Income  \
27       0x1ef9  CUS_0x100b     April  18  Media_Manager     113781,39
39      0x17649  CUS_0x1011     April  44         Doctor      58918,47
59      0x243f5  CUS_0x1013  December  44       Mechanic      98620,98
166      0xe014  CUS_0x103e  November  41      Scientist       98690,8
170     0x1ca90  CUS_0x1041     March  15        Teacher       8978,11
...         ...         ...       ...  ..            ...           ...
149903  0x1f139   CUS_0xfe3  December  53  Media_Manager      40380,18
149904   0x3a32   CUS_0xfe4   January  29         Writer     110575,72
149962   0x16b4   CUS_0xff4  November  37   Entrepreneur      25546,26
149966   0xfab8   CUS_0xff6     March  18         Doctor     117639,92
149981   0x61eb   CUS_0xffc      June  18       Musician      60877,17

       Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
27                 9549,7825                1.0                4
39                 5208,8725                3.0                3
59                  7962,415                3.0                3
166                      NaN                5.0                7
170              894,1758333                8.0                8
...                      ...                ...              ...
149903              3607,015                7.0                5
149904           9009,643333                7.0                3
149962              2415,855                8.0                7
149966           9727,326667                5.0                6
149981             5218,0975                6.0                8

        Interest_Rate  Num_of_Loan  \
27                  1          0.0
39                 17          3.0
59                  6          3.0
166                 9          1.0
170                30          9.0
...               ...          ...
149903             18          4.0
149904              6          7.0
149962             14          5.0
149966              1          2.0
149981             27          8.0

                                             Type_of_Loan  \
27                                                    NaN
39      Student Loan, Credit-Builder Loan, and Debt Co...
59      Student Loan, Debt Consolidation Loan, and Per...
166                                          Student Loan
170     Payday Loan, Mortgage Loan, Payday Loan, Mortg...
...                                                   ...
149903  Personal Loan, Personal Loan, Not Specified, a...
149904  Credit-Builder Loan, Debt Consolidation Loan, ...
149962  Not Specified, Student Loan, Student Loan, Cre...
149966                    Home Equity Loan, and Auto Loan
149981  Credit-Builder Loan, Payday Loan, Not Specifie...

        Delay_from_due_date  Num_of_Delayed_Payment Changed_Credit_Limit  \
27                       14                     7.0                  NaN
39                       27                    15.0                14,42
59                       12                     8.0                 1,33
166                       6                    15.0                10,76
170                      50                    17.0                18,48
...                     ...                     ...                  ...
149903                   28                     NaN                 2,98
149904                    7                    13.0                18,53
149962                   16                    13.0                 6,83
149966                    1                     4.0                 10,4
149981                   46                    19.0                 8,82

        Num_Credit_Inquiries Credit_Mix Outstanding_Debt  \
27                       1.0       Good           1030,2
39                       7.0   Standard           473,14
59                       6.0          _          1233,51
166                      4.0       Good           706,96
170                      NaN          _          4913,15
...                      ...        ...              ...
149903                   8.0   Standard          1042,93
149904                   5.0   Standard           788,59
149962                   7.0          _           758,44
149966                   2.0       Good            338,3
149981                  13.0        Bad          1300,13

       Credit_Utilization_Ratio     Credit_History_Age Payment_of_Min_Amount  \
27                  31,01608629  15 Years and 6 Months                    No
39                  29,19863935  15 Years and 6 Months                   Yes
59                   39,7465725  18 Years and 2 Months                    No
166                 30,92236095  27 Years and 2 Months                   NaN
170                 34,59448187  10 Years and 0 Months                   Yes
...                         ...                    ...                   ...
149903              31,88588727  25 Years and 3 Months                   Yes
149904              31,72201257  17 Years and 2 Months                   Yes
149962              35,50770675  19 Years and 0 Months                   Yes
149966              28,43227557  24 Years and 6 Months                    No
149981              37,79464487  13 Years and 0 Months                   Yes

       Total_EMI_per_month Amount_invested_monthly  \
27                       0               __10000__
39             123,4349388               __10000__
59             228,0180837               __10000__
166            947,5861895               __10000__
170            57,67965791               __10000__
...                    ...                     ...
149903               10991               __10000__
149904         540,0722378               __10000__
149962         101,3286374               __10000__
149966         126,6384533               __10000__
149981         272,8091695               __10000__

                      Payment_Behaviour Monthly_Balance Credit_Score  \
27      High_spent_Large_value_payments     969,7201635     Standard
39      Low_spent_Medium_value_payments     176,4029215     Standard
59                               !@9#%8      731,392472          NaN
166     Low_spent_Medium_value_payments      370,633058          NaN
170      Low_spent_Small_value_payments     245,2206457     Standard
...                                 ...             ...          ...
149903                           !@9#%8     345,1371191          NaN
149904  High_spent_Large_value_payments     486,8582051     Standard
149962  High_spent_Large_value_payments     359,8881171          NaN
149966                           !@9#%8     936,5327603     Standard
149981   Low_spent_Small_value_payments     279,8209214     Standard

       test_Amount_invested_monthly
27                             ____
39                             ____
59                             ____
166                            ____
170                            ____
...                             ...
149903                         ____
149904                         ____
149962                         ____
149966                         ____
149981                         ____

[6480 rows x 27 columns]

In [30]:
df['test_Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)
df['test_Payment_Behaviour'] = df['test_Payment_Behaviour'].str.replace('\d+', '', regex=True)
print(df["test_Payment_Behaviour"].value_counts())
df.drop("test_Payment_Behaviour", axis=1, inplace=True)

df.loc[df['Payment_Behaviour'] == "!@9#%8", 'Payment_Behaviour'] = np.nan

df['test_Payment_Behaviour'] = df['Payment_Behaviour'].astype(str)
df['test_Payment_Behaviour'] = df['test_Payment_Behaviour'].str.replace('\d+', '', regex=True)
print(df["test_Payment_Behaviour"].value_counts())
df.drop("test_Payment_Behaviour", axis=1, inplace=True)

test_Payment_Behaviour
Low_spent_Small_value_payments      38207
High_spent_Medium_value_payments    26462
Low_spent_Medium_value_payments     20698
High_spent_Large_value_payments     20565
High_spent_Small_value_payments     16991
Low_spent_Large_value_payments      15677
!@#%                                11400
Name: count, dtype: int64
test_Payment_Behaviour
Low_spent_Small_value_payments      38207
High_spent_Medium_value_payments    26462
Low_spent_Medium_value_payments     20698
High_spent_Large_value_payments     20565
High_spent_Small_value_payments     16991
Low_spent_Large_value_payments      15677
nan                                 11400
Name: count, dtype: int64

In [31]:
df['test_Monthly_Balance'] = df['Monthly_Balance'].astype(str)
df['test_Monthly_Balance'] = df['test_Monthly_Balance'].str.replace('\d+', '', regex=True)
print(df["test_Monthly_Balance"].value_counts())
df.drop("test_Monthly_Balance", axis=1, inplace=True)

df.loc[df['Monthly_Balance'] == "__-333333333333333333333333333__", 'Monthly_Balance'] = np.nan

df['test_Monthly_Balance'] = df['Monthly_Balance'].astype(str)
df['test_Monthly_Balance'] = df['test_Monthly_Balance'].str.replace('\d+', '', regex=True)
print(df["test_Monthly_Balance"].value_counts())
df.drop("test_Monthly_Balance", axis=1, inplace=True)

test_Monthly_Balance
,        148223
nan        1762
__-__        15
Name: count, dtype: int64
test_Monthly_Balance
,      148223
nan      1777
Name: count, dtype: int64

In [42]:
df.iloc[50:60]

,ID,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
50,0x243ec,CUS_0x1013,March,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",16,9.0,"1,33",3.0,Good,"1233,51","29,65702347",17 Years and 5 Months,No,"228,0180837","323,4281279",NaN,"524,7952885",Standard
51,0x243ed,CUS_0x1013,April,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,7.0,"1,33",3.0,Good,"1233,51","21,9781631",17 Years and 6 Months,No,"228,0180837","534,9415624",Low_spent_Medium_value_payments,"313,2818539",Standard
52,0x243ee,CUS_0x1013,May,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,9.0,"1,33",3.0,_,"1233,51","35,65174717",NaN,No,"228,0180837","159,12736",High_spent_Medium_value_payments,"659,0960564",Standard
53,0x243ef,CUS_0x1013,June,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,7.0,"1,33",3.0,Good,"1233,51","38,66976866",17 Years and 8 Months,No,"228,0180837","741,5233187",Low_spent_Medium_value_payments,"106,7000976",Standard
54,0x243f0,CUS_0x1013,July,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,9.0,"1,33",3.0,Good,"1233,51","31,51432294",17 Years and 9 Months,No,48538,"176,7410975",High_spent_Large_value_payments,"631,4823188",Standard
55,0x243f1,CUS_0x1013,August,44,Mechanic,"98620,98",NaN,3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,NaN,"1,33",3.0,Good,"1233,51","26,52486358",17 Years and 10 Months,No,"228,0180837","332,333708",High_spent_Medium_value_payments,"485,8897084",Standard
56,0x243f2,CUS_0x1013,September,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,11.0,"1,33",3.0,Good,"1233,51","34,50556467",17 Years and 11 Months,No,"228,0180837","769,1553415",Low_spent_Small_value_payments,"89,06807486",NaN
57,0x243f3,CUS_0x1013,October,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,9.0,"1,33",6.0,Good,"1233,51","26,93945628",18 Years and 0 Months,No,"228,0180837",NaN,High_spent_Large_value_payments,"726,5568075",NaN
58,0x243f4,CUS_0x1013,November,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,9.0,"-5,67",6.0,Good,"1233,51","37,390332",18 Years and 1 Months,No,"228,0180837","174,5969518",High_spent_Large_value_payments,"633,6264645",NaN
59,0x243f5,CUS_0x1013,December,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,8.0,"1,33",6.0,_,"1233,51","39,7465725",18 Years and 2 Months,No,"228,0180837",__10000__,NaN,"731,392472",NaN

In [38]:
df[df["Amount_invested_monthly"] == "__10000__"]

,ID,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
27,0x1ef9,CUS_0x100b,April,18,Media_Manager,"113781,39","9549,7825",1.0,4,1,0.0,NaN,14,7.0,NaN,1.0,Good,"1030,2","31,01608629",15 Years and 6 Months,No,0,__10000__,High_spent_Large_value_payments,"969,7201635",Standard
39,0x17649,CUS_0x1011,April,44,Doctor,"58918,47","5208,8725",3.0,3,17,3.0,"Student Loan, Credit-Builder Loan, and Debt Co...",27,15.0,"14,42",7.0,Standard,"473,14","29,19863935",15 Years and 6 Months,Yes,"123,4349388",__10000__,Low_spent_Medium_value_payments,"176,4029215",Standard
59,0x243f5,CUS_0x1013,December,44,Mechanic,"98620,98","7962,415",3.0,3,6,3.0,"Student Loan, Debt Consolidation Loan, and Per...",12,8.0,"1,33",6.0,_,"1233,51","39,7465725",18 Years and 2 Months,No,"228,0180837",__10000__,NaN,"731,392472",NaN
166,0xe014,CUS_0x103e,November,41,Scientist,"98690,8",NaN,5.0,7,9,1.0,Student Loan,6,15.0,"10,76",4.0,Good,"706,96","30,92236095",27 Years and 2 Months,NaN,"947,5861895",__10000__,Low_spent_Medium_value_payments,"370,633058",NaN
170,0x1ca90,CUS_0x1041,March,15,Teacher,"8978,11","894,1758333",8.0,8,30,9.0,"Payday Loan, Mortgage Loan, Payday Loan, Mortg...",50,17.0,"18,48",NaN,_,"4913,15","34,59448187",10 Years and 0 Months,Yes,"57,67965791",__10000__,Low_spent_Small_value_payments,"245,2206457",Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149903,0x1f139,CUS_0xfe3,December,53,Media_Manager,"40380,18","3607,015",7.0,5,18,4.0,"Personal Loan, Personal Loan, Not Specified, a...",28,NaN,"2,98",8.0,Standard,"1042,93","31,88588727",25 Years and 3 Months,Yes,10991,__10000__,NaN,"345,1371191",NaN
149904,0x3a32,CUS_0xfe4,January,29,Writer,"110575,72","9009,643333",7.0,3,6,7.0,"Credit-Builder Loan, Debt Consolidation Loan, ...",7,13.0,"18,53",5.0,Standard,"788,59","31,72201257",17 Years and 2 Months,Yes,"540,0722378",__10000__,High_spent_Large_value_payments,"486,8582051",Standard
149962,0x16b4,CUS_0xff4,November,37,Entrepreneur,"25546,26","2415,855",8.0,7,14,5.0,"Not Specified, Student Loan, Student Loan, Cre...",16,13.0,"6,83",7.0,_,"758,44","35,50770675",19 Years and 0 Months,Yes,"101,3286374",__10000__,High_spent_Large_value_payments,"359,8881171",NaN
149966,0xfab8,CUS_0xff6,March,18,Doctor,"117639,92","9727,326667",5.0,6,1,2.0,"Home Equity Loan, and Auto Loan",1,4.0,"10,4",2.0,Good,"338,3","28,43227557",24 Years and 6 Months,No,"126,6384533",__10000__,NaN,"936,5327603",Standard
149981,0x61eb,CUS_0xffc,June,18,Musician,"60877,17","5218,0975",6.0,8,27,8.0,"Credit-Builder Loan, Payday Loan, Not Specifie...",46,19.0,"8,82",13.0,Bad,"1300,13","37,79464487",13 Years and 0 Months,Yes,"272,8091695",__10000__,Low_spent_Small_value_payments,"279,8209214",Standard